#contacts {
  flex-direction: column;
}

.container-cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 100px;
}

.card-contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px 30px;
  width: 280px;
  height: auto;
  border-radius: var(--border-radius-card);
  transition: all 0.3s ease-in-out;

  img {
    width: 100px;
  }
}

.card-contact:hover {
  transform: scale(1.1);
}

.text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 0;
  max-width: 100%;

  h4 {
    font-size: 25px;
    color: var(--color-title);
  }

  p {
    text-align: center;
    color: var(--color-text);
    font-size: 18px;
    font-weight: var(--font-weight-regular);
    overflow-wrap: anywhere;
  }
}

.btn-card {
  font-weight: var(--font-weight-semi-bold);
  margin: 10px auto;
  padding: 10px 30px;
  color: var(--color-text);
  border-radius: var(--border-radius-btn);
}

.email-card {
  background: #dab10dd2;
}

.linkedin-card {
  background: #0088ff;
}

.whatsapp-card {
  background: #34c759;
}

.github-card {
  background: #2b2b2b;
}

.email-btn {
  background: #94790d;
  border: solid 3px #c7b052;
}

.linkedin-btn {
  background: #0859a0;
  border: solid 3px #6cb0eb;
}

.whatsapp-btn {
  background: #278d40;
  border: solid 3px #63e283;
}

.github-btn {
  background: #1d1d1d;
  border: solid 3px #3b3b3b;
}

.content-final-text {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 15px;
  border-radius: 50px;
  background: #20f6fd1c;
  color: var(--color-text);
  margin-top: 50px;
  box-shadow: 0 0 8px var(--color-btn);

  p {
    font-size: 15px;
    font-weight: var(--font-weight-light);
  }

  div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color-btn);
    box-shadow: 0 0 10px var(--color-btn);
  }
}

/* Responsividade */

/* Tablet screen */
@media (max-width: 768px) {
  .container-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-contact:hover {
    transform: none;
  }
}

/* Tablet screen */
@media (max-width: 430px) {
  .content-final-text {
    justify-content: center;
    width: 100%;

    p {
      font-size: 12px;
    }
  }

  .container-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .container-cards {
    width: 100%;
    padding: 0 5px;
  }

  .card-contact {
    width: 100%;
  }
}
