#hero {
  justify-content: space-between;
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 60%,
    rgba(0, 0, 0, 0.014) 90%
  );
  mask-image: linear-gradient(to bottom, black 80%, rgba(0, 0, 0, 0.014) 90%);
}

.video-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.video-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.video-section .text-hero {
  position: relative;
  z-index: 2;
}

.text-hero {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 700px;
}

.mini-title {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  font-size: 13px;
  font-weight: var(--font-weight-regular);
  background: var(--color-cards);
  padding: 5px 20px;
  color: var(--color-btn);
  border-radius: var(--border-radius-title);
}

.mini-title img {
  width: 20px;
}

h1 {
  font-size: 65px;
  line-height: 65px;
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  text-shadow: 0 0 18px rgb(0, 0, 0);
}

h1 span {
  color: var(--color-highlight-title);
}

.cta-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 420px;
  width: 100%;
}

.btn-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: var(--color-btn);
  color: var(--color-bg);
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-btn);
  transition: all 0.3s ease-in-out;
}

.btn-cta:hover {
  background: var(--color-btn);
  box-shadow: 0px 0px 10px var(--color-btn);
  box-shadow: var(--box-shadow-btn);
}

.cta-contact {
  background: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-btn);
}

.cta-contact:hover {
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow-btn);
}

/* Responsividade */

/* Tablet screen */
@media (max-width: 768px) {
  #hero {
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 60%,
      rgba(0, 0, 0, 0.014) 90%
    );
    mask-image: linear-gradient(to bottom, black 60%, rgba(0, 0, 0, 0.014) 90%);
  }

  h1 {
    font-size: 45px;
    line-height: 55px;
  }

  .gradient-hero {
    top: 0px;
    right: -170px;
    width: 85%;
  }

  .mini-title {
    font-size: 12px;
    padding: 5px 15px;
  }

  .mini-title img {
    width: 15px;
  }

  .text-hero {
    gap: 45px;
  }

  .cta-buttons {
    max-width: 350px;
    gap: 10px;
  }

  .btn-cta {
    font-size: 14px;
  }
}

/* Mobile screen */
@media (max-width: 430px) {
  h1 {
    font-size: 35px;
    line-height: 45px;
  }

  .gradient-hero {
    top: -230px;
    right: -100px;
    width: 70rem;
  }

  .mini-title {
    font-size: 10px;
    padding: 5px 10px;
  }

  .mini-title img {
    width: 12px;
  }

  .text-hero {
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .cta-buttons {
    max-width: 300px;
    gap: 10px;
  }

  .btn-cta {
    font-size: 12px;
  }
}
