#skills {
  flex-direction: column;
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 60%,
    rgba(0, 0, 0, 0.014) 90%
  );
  mask-image: linear-gradient(to bottom, black 50%, rgba(0, 0, 0, 0.014) 100%);
}

.video-section .content-skills {
  position: relative;
  z-index: 2;
}

.content-skills {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  position: relative;
  margin-top: 50px;
  width: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  color: var(--color-text);

  .sub-title-skills {
    font-size: 18px;
    font-weight: var(--font-weight-regular);
    text-shadow: 0 0 5px rgb(0, 0, 0);
  }

  p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: var(--font-weight-light);
    text-shadow: 0 0 5px rgb(0, 0, 0);
  }
}

.icons-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  img {
    width: 85px;
    transition: all 0.3s ease-in-out;
  }

  img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #9c54f3af;
  }
}

/* Responsividade */

/* Tablet screen */
@media (max-width: 768px) {
  #skills {
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 60%,
      rgba(0, 0, 0, 0.014) 90%
    );
    mask-image: linear-gradient(
      to bottom,
      black 90%,
      rgba(0, 0, 0, 0.014) 100%
    );
  }

  .content-skills {
    margin-top: 80px;
    align-items: center;
  }

  .icons-skills img:hover {
    transform: none;
    box-shadow: none;
  }
}

/* Mobile screen */
@media (max-width: 430px) {
  .skills {
    text-align: center;

    p {
      font-size: 15px;
    }
  }

  .icons-skills {
    grid-template-columns: repeat(2, 1fr);
  }
}
